h1,h2,h3,h4,h5 {
  margin: 0;
}

.nav-wrapper ul:first-child {
  padding-left: 2%;
}

.nav-wrapper .brand-logo, .nav-wrapper .order-link{
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.nav-wrapper ul:last-child {
  padding-right: 2%;
}

header {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  height: 450px;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-weight: black;
  font-size: 75px;
}

header button {
  margin-top: 30px;
}

.copy {
  margin-top: 50px;
  margin-bottom: 50px;
}

i {
  vertical-align: bottom;

}

footer {
  position: relative;
  color: white;
}

.footer-links {
  text-decoration: none;
  color: white;
}

.sub-footer {
  padding-top: 50px;
  padding-botton: 50px;
}

.botton-footer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.material-icons {
  font-size: 2.92rem;
}

.order h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-field input[type=text] {
     border-bottom: 1px solid #66bb6a;
     box-shadow: 0 1px 0 0 #66bb6a;
   }

.order-conversion {
  text-align: center;
}
